{% if form %}
  {% if form.errors %}
  <div class="notification is-danger">
    <ul class="errors">
      {% for _, error in form.errors.items %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% for field in form %}
  {% if field.field.widget.input_type == 'hidden' %}{{ field }}{% else %}
  <div class="field mb-4">
    {% if field.field.widget.input_type == 'checkbox' %}
    <div class="control">
      <label class="checkbox">
        {{ field }}
        {{ field.label }}
      </label>
    </div>
    {% else %}
    <label class="label">{{ field.label }}</label>
    <div class="control{% if field.field.widget.input_type == 'select' %} select is-fullwidth{% endif %}">
      {{ field }}
    </div>
    {% endif %}
    {% if field.help_text %}<p class="help"><i class="fas fa-info-circle"></i> {{ field.help_text }}</p>{% endif %}
  </div>
  {% endif %}
  {% endfor %}
{% endif %}
