$colour-white: #ffffff;
$colour-black: #000000;
$colour-near-black: #011627;
$colour-near-white: #fdfffc;
$colour-light-blue: #2ec4b6;
$colour-red: #e71d36;
$colour-orange: #ff9f1c;

$background-colour: $colour-near-white;
$text-colour: $colour-near-black;

$header-background-colour: $colour-red;
$header-text-colour: $colour-white;

$footer-background-colour: $colour-red;
$footer-text-colour: $colour-white;
