$colour-white: #ffffff;
$colour-black: #000000;
$colour-near-black: #011627;
$colour-near-white: #fdfffc;
$colour-light-blue: #2ec4b6;
$colour-red: #e71d36;
$colour-orange: #ff9f1c;

$background-colour: $colour-near-white;
$text-colour: $colour-near-black;

$header-background-colour: $colour-red;
$header-text-colour: $colour-white;

$nav-background-colour: $colour-near-black;
$nav-text-colour: $colour-near-white;
$nav-link-background-hover-colour: $colour-orange;

$main-button-background-colour: $colour-light-blue;
$main-button-background-hover-colour: $colour-orange;
$main-button-text-colour: $colour-white;

$footer-background-colour: $colour-red;
$footer-text-colour: $colour-white;
$footer-link-colour: $colour-near-black;
$footer-link-hover-colour: $colour-orange;

$form-label-text-colour: $colour-near-black;
$form-input-border-colour: $colour-light-blue;
$form-input-border-active-colour: $colour-orange;
$form-select-border-colour: $colour-light-blue;
$form-error-background-colour: $colour-red;
$form-error-text-colour: $colour-near-white;

$box-error-background-colour: $colour-red;
$box-error-text-colour: $colour-white;
