strong {
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.errors {
    background-color: $box-error-background-colour;
    border-radius: 2px;
    padding: 10px 0 5px 0;
}

.errorlist {
    li {
        color: $box-error-text-colour;
        padding: 0 10px 5px 10px;
    }
}
