html {
    font-family: $font-family;
    font-size: $font-size;
    background-color: $background-colour;
    color: $text-colour;
}

header {

    background-color: $header-background-colour;
    color: $header-text-colour;
    padding: 1.3rem 0 1.5rem 0;

    a {
        text-decoration: none;
        color: $header-text-colour;
        &:hover {
            text-decoration: none;
        }
    }

    svg.tubesync-logo {
        margin-right: 1rem;
        float: left;
        .logo-icon {
            fill: $colour-near-white !important;
        }
    }

    h1 {
        margin: 0;
        font-size: 3rem;
        line-height: 2.7rem;
    }
}

nav {

    background-color: $nav-background-colour;
    color: $nav-text-colour;
    height: 3rem;

    a {
        font-size: 1.1rem !important;
        color: $nav-text-colour;
        text-decoration: none;
        line-height: 3rem;
        height: 3rem;
        i {
            font-size: 1.1rem !important;
        }
        &:hover {
            background-color: $nav-link-background-hover-colour !important;
        }
    }


}

main {
    
    padding: 2rem 0 2rem 0;

    a {
        color: $main-link-colour;
        text-decoration: none;
        &:hover {
            color: $main-link-hover-colour;
        }
    }

    h1 {
        margin: 0;
        padding: 0 0 0.5rem 0;
        font-size: 2rem;
    }

    .btn {
        width: 100%;
        background-color: $main-button-background-colour;
        color: $main-button-text-colour !important;
        i {
            font-size: 0.9rem;
        }
        &:hover {
            background-color: $main-button-background-hover-colour;
        }
    }

    .collection {
        margin: 0.5rem 0 0 0 !important;
        .collection-item {
            display: block;
        }
        a.collection-item {
            color: $collection-text-colour;
            text-decoration: none;
            &:hover {
                background-color: $collection-background-hover-colour !important;
                color: $collection-text-hover-colour !important;
            }
        }        
        .no-items {
            color: $collection-no-items-text-colour;
        }
    }

    .mediacard {
        .card-title {
            padding: 3px 10px 3px 5px !important;
            margin: 5px !important;
            line-height: 1.5rem;
            font-size: 1.5rem;
            left: initial !important;
            right: 0 !important;
            max-width: 75% !important;
            opacity: 80%;
            background-color: $mediacard-title-background-colour !important;
            color: $mediacard-title-text-colour !important;
            span {
                font-size: 1rem;
            }
        }
    }

    .pagination {
        width: 100%;
        padding-top: 1rem;
        text-align: center;
        a {
            display: inline-block;
            font-weight: bold;
            text-decoration: none;
            padding: 5px 10px 5px 10px;
            margin: 0 3px 0 3px;
            background-color: $pagination-background-colour;
            color: $pagination-text-colour;
            border: 2px $pagination-border-colour solid;
            &:hover {
                background-color: $pagination-background-hover-colour;
                color: $pagination-text-hover-colour;
                border: 2px $pagination-border-hover-colour solid;
            }
        }
        .currentpage {
            background-color: $pagination-current-background-colour;
            color: $pagination-current-text-colour;
            border: 2px $pagination-current-border-colour solid;
        }
    }

    .infobox {
        background-color: $infobox-background-colour;
        color: $infobox-text-colour;
    }

}

footer {

    background-color: $footer-background-colour;
    color: $footer-text-colour;
    padding-top: 1.5rem;

    p {
        margin: 0;
        padding-bottom: 1.5rem;
    }

    svg {
        path {
            fill: $footer-link-colour !important;
        }
    }

    i {
        font-size: 0.85rem !important;
    }

    a {
        color: $footer-link-colour;
        text-decoration: none;
        &:hover {
            color: $footer-link-hover-colour;
            text-decoration: none;
        }
    }

}
