{% extends 'base.html' %}{% load static %}

{% block headtitle %}Media{% if source %} - {{ source }}{% endif %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h1 class="truncate">Media</h1>
  </div>
</div>
{% include 'infobox.html' with message=message %}
<div class="row no-margin-bottom">
  {% for m in media %}
  <div class="col s12 m6 l4 xl3">
    <div class="card mediacard">
      <a href="{% url 'sync:media-item' pk=m.pk %}" class="">
        <div class="card-image">
          <img src="{% if m.thumb %}{% url 'sync:media-thumb' pk=m.pk %}{% else %}{% static 'images/nothumb.png' %}{% endif %}">
          <span class="card-title truncate">{{ m.source }}<br>
            <span>{{ m.name }}</span><br>
            <span>{% if m.can_download %}{% if m.downloaded %}<i class="fas fa-check-circle" title="Downloaded"></i>{% else %}<i class="far fa-clock" title="Queued waiting to download"></i>{% endif %} {{ m.published|date:'Y-m-d' }}{% else %}<i class="fas fa-exclamation-triangle"></i> No matching formats{% endif %}</span>
          </span>
        </div>
      </a>
    </div>
  </div>
  {% empty %}
  <div class="col s12">
    <div class="collection">
      <span class="collection-item no-items"><i class="fas fa-info-circle"></i> No media has been indexed{% if source %} that matches the specified source filter{% endif %}.</span>
    </div>
  </div>
  {% endfor %}
</div>
{% include 'pagination.html' with pagination=sources.paginator filter=source.pk %}
{% endblock %}
