<h2>Available media name variables</h2>
<table class="striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Output example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{yyyymmdd}</td>
      <td>Media publish date in YYYYMMDD</td>
      <td>20210131</td>
    </tr>
    <tr>
      <td>{yyyy_mm_dd}</td>
      <td>Media publish date in YYYY-MM-DD</td>
      <td>2021-01-31</td>
    </tr>
    <tr>
      <td>{yyyy}</td>
      <td>Media publish year in YYYY</td>
      <td>2021</td>
    </tr>
    <tr>
      <td>{mm}</td>
      <td>Media publish month in MM</td>
      <td>01</td>
    </tr>
    <tr>
      <td>{dd}</td>
      <td>Media publish day in DD</td>
      <td>31</td>
    </tr>
    <tr>
      <td>{source}</td>
      <td>Lower case source name, max 80 chars</td>
      <td>my-source</td>
    </tr>
    <tr>
      <td>{source_full}</td>
      <td>Full source name</td>
      <td>My Source</td>
    </tr>
    <tr>
      <td>{uploader}</td>
      <td>Uploader name</td>
      <td>Some Channel Name</td>
    </tr>
    <tr>
      <td>{title}</td>
      <td>Lower case media title, max 80 chars</td>
      <td>my-video</td>
    </tr>
    <tr>
      <td>{title_full}</td>
      <td>Full media title</td>
      <td>My Video</td>
    </tr>
    <tr>
      <td>{key}</td>
      <td>Media unique key or video ID</td>
      <td>SoMeUnIqUeId</td>
    </tr>
    <tr>
      <td>{format}</td>
      <td>Media format string</td>
      <td>720p-avc1-mp4a</td>
    </tr>
    <tr>
      <td>{playlist_title}</td>
      <td>Playlist title of media, if it's in a playlist</td>
      <td>Some Playlist</td>
    </tr>
    <tr>
      <td>{ext}</td>
      <td>File extension</td>
      <td>mkv</td>
    </tr>
    <tr>
      <td>{resolution}</td>
      <td>Resolution</td>
      <td>720p</td>
    </tr>
    <tr>
      <td>{height}</td>
      <td>Media height in pixels</td>
      <td>720</td>
    </tr>
    <tr>
      <td>{width}</td>
      <td>Media width in pixels</td>
      <td>1280</td>
    </tr>
    <tr>
      <td>{vcodec}</td>
      <td>Media video codec</td>
      <td>avc1</td>
    </tr>
    <tr>
      <td>{acodec}</td>
      <td>Media audio codec</td>
      <td>opus</td>
    </tr>
    <tr>
      <td>{fps}</td>
      <td>Media fps</td>
      <td>60fps</td>
    </tr>
    <tr>
      <td>{flag_hdr}</td>
      <td>Media has HDR flag</td>
      <td>hdr</td>
    </tr>
  </tbody>
</table>