{% extends 'base.html' %}{% load humanize %}{% load filters %}

{% block active_dashboard %} is-active{% endblock %}

{% block headtitle %}Dashboard{% endblock %}

{% block content %}
<h1 class="title mb-4">Dashboard</h1>

{% if num_sources == 0 %}
<div class="notification is-info is-light">
  <p>You don't have any media sources added. To get started, head over to the <a href="{% url 'sync:sources' %}">sources</a> page and add some.</p>
  <div class="buttons mt-4">
    <a href="{% url 'sync:sources' %}" class="button is-primary">
      <span>Add a source</span>
      <span class="icon"><i class="fas fa-play"></i></span>
    </a>
  </div>
</div>
{% endif %}

<div class="columns is-multiline">
  <div class="column is-half-tablet is-one-quarter-widescreen">
    <a href="{% url 'sync:sources' %}" class="box has-text-centered">
      <p class="title is-3">{{ num_sources|intcomma }}</p>
      <p class="subtitle is-6 mb-3">source{{ num_sources|pluralize }}</p>
      <hr class="my-3">
      <p class="is-size-7"><strong>{{ num_video_sources|intcomma }}</strong> video, <strong>{{ num_audio_sources|intcomma }}</strong> audio</p>
    </a>
  </div>

  <div class="column is-half-tablet is-one-quarter-widescreen">
    <a href="{% url 'sync:media' %}" class="box has-text-centered">
      <p class="title is-3">{{ num_media|intcomma }}</p>
      <p class="subtitle is-6 mb-3">media item{{ num_media|pluralize }}</p>
      <hr class="my-3">
      <p class="is-size-7"><strong>{{ num_downloaded_media|intcomma }}</strong> downloaded</p>
    </a>
  </div>

  <div class="column is-half-tablet is-one-quarter-widescreen">
    <a href="{% url 'sync:tasks' %}" class="box has-text-centered">
      <p class="title is-3">{{ num_tasks|intcomma }}</p>
      <p class="subtitle is-6 mb-3">scheduled task{{ num_tasks|pluralize }}</p>
      <hr class="my-3">
      <p class="is-size-7"><strong>{{ num_completed_tasks|intcomma }}</strong> completed</p>
    </a>
  </div>

  <div class="column is-half-tablet is-one-quarter-widescreen">
    <a href="{% url 'sync:media' %}" class="box has-text-centered">
      <p class="title is-3">{{ disk_usage_bytes|bytesformat }}</p>
      <p class="subtitle is-6 mb-3">{{ disk_usage_bytes|intcomma }} bytes</p>
      <hr class="my-3">
      <p class="is-size-7">Avg. <strong>{{ average_bytes_per_media|bytesformat }}</strong> per media</p>
    </a>
  </div>

  <div class="column is-half-desktop">
    <div class="box">
      <h4 class="title is-5">Latest downloads</h4>
      <div class="content">
        {% for media in latest_downloads %}
        <div class="mb-4">
          <a href="{% url 'sync:media-item' pk=media.pk %}">
            <strong>{{ media.name }}</strong><br>
            <small class="has-text-grey">{{ media.download_date|timesince:now }} ago from "{{ media.source.name }}"</small>
          </a>
        </div>
        {% empty %}
        <p class="has-text-grey">No media has been downloaded.</p>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="column is-half-desktop">
    <div class="box">
      <h4 class="title is-5">Largest downloads</h4>
      <div class="content">
        {% for media in largest_downloads %}
        <div class="mb-4">
          <a href="{% url 'sync:media-item' pk=media.pk %}">
            {{ media.name }}<br>
            <small class="has-text-grey"><strong>{{ media.downloaded_filesize|bytesformat }}</strong>{% if media.downloaded_format %} in {{ media.downloaded_format }}{% endif %} from "{{ media.source.name }}"</small>
          </a>
        </div>
        {% empty %}
        <p class="has-text-grey">No media has been downloaded.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<h2 class="title is-4 mt-5">Runtime information</h2>
<div class="box">
  <table class="table is-fullwidth is-hoverable">
    <tbody>
      <tr>
        <td><strong>User ID</strong></td>
        <td>{{ uid }}</td>
      </tr>
      <tr>
        <td><strong>Group ID</strong></td>
        <td>{{ gid }}</td>
      </tr>
      <tr>
        <td><strong>Config directory</strong></td>
        <td>{{ config_dir }}</td>
      </tr>
      <tr>
        <td><strong>Downloads directory</strong></td>
        <td>{{ downloads_dir }}</td>
      </tr>
      <tr>
        <td><strong>Database</strong></td>
        <td>{{ database_connection }}{% if database_filesize %} ({{ database_filesize|bytesformat }}){% endif %}</td>
      </tr>
    </tbody>
    </table>
  </div>
{% endblock %}
