{% extends 'base.html' %}

{% block headtitle %}Media server - {{ mediaserver }}{% endblock %}

{% block content %}
<h1 class="title mb-4"><strong>{{ mediaserver.get_server_type_display }}</strong> server at <strong>{{ mediaserver.url }}</strong></h1>
{% include 'infobox.html' with message=message %}
<div class="columns">
  <div class="column is-12">
    <div class="content">
      <p><strong>Type:</strong> {{ mediaserver.get_server_type_display }}</p>
      <p><strong>Location:</strong> {{ mediaserver.url }}</p>
      <p><strong>Use HTTPS:</strong> {% if mediaserver.use_https %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</p>
      <p><strong>Verify HTTPS:</strong> {% if mediaserver.verify_https %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</p>
      {% for name, value in mediaserver.options.items %}
      <p><strong>{{ name|title }}:</strong> {% if name in private_options %}{{ value|truncatechars:6 }} (hidden){% else %}{{ value }}{% endif %}</p>
      {% endfor %}
    </div>
  </div>
</div>
<div class="columns pt-4">
  <div class="column is-12 is-6-desktop mb-4">
    <a href="{% url 'sync:update-mediaserver' pk=mediaserver.pk %}" class="button is-primary">
      <span class="icon"><i class="fas fa-pen-square"></i></span>
      <span>Edit media server</span>
    </a>
  </div>
  <div class="column is-12 is-6-desktop mb-4">
    <a href="{% url 'sync:delete-mediaserver' pk=mediaserver.pk %}" class="button is-danger">
      <span class="icon"><i class="fas fa-trash-alt"></i></span>
      <span>Delete media server</span>
    </a>
  </div>
</div>
{% endblock %}
