{% extends 'base.html' %}

{% block active_mediaservers %} is-active{% endblock %}

{% block headtitle %}Media servers{% endblock %}

{% block content %}
<h1 class="title mb-4">Media servers</h1>
<p class="mb-4">
  Media servers are services like Plex which you may be running on your network. If
  you add your media server TubeSync will notify your media server to rescan or
  refresh its libraries every time media is successfully downloaded. Currently,
  TubeSync only supports Jellyfin and Plex.
</p>
{% include 'infobox.html' with message=message %}
{% for mst in media_server_types %}
<div class="columns">
  <div class="column is-12 mb-4">
    <a href="{% url 'sync:add-mediaserver' server_type=mst.long_type %}" class="button is-primary">
      <span class="icon"><i class="fas fa-server"></i></span>
      <span>Add a {{ mst.label }} media server</span>
    </a>
  </div>
</div>
{% endfor %}
<div class="columns">
  <div class="column is-12">
    <div class="menu">
      <ul class="menu-list">
        {% for mediaserver in mediaservers %}
        <li>
          <a href="{% url 'sync:mediaserver' pk=mediaserver.pk %}">
            {{ mediaserver.icon|safe }} <strong>{{ mediaserver.get_server_type_display }}</strong> server at <strong>{{ mediaserver.url }}</strong>
          </a>
        </li>
        {% empty %}
        <li><span class="has-text-grey"><i class="fas fa-info-circle"></i> You haven't added any media servers.</span></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
