{% extends 'base.html' %}

{% block headtitle %}Delete media server - {{ mediaserver }}{% endblock %}

{% block content %}
<h1 class="title mb-4">Delete <strong>{{ mediaserver }}</strong></h1>
<p class="mb-4">
  Deleting a media server will stop it from being updated by TubeSync. This action
  is permanent. You will have to manually re-add the media server details again if
  you want to update it automatically in future again.
</p>
<form method="post" action="{% url 'sync:delete-mediaserver' pk=mediaserver.pk %}" class="simpleform">
  {% csrf_token %}
  {% include 'simpleform.html' with form=form %}
  <div class="field pt-4 has-text-centered">
    <div class="control">
      <button class="button is-danger" type="submit" name="action">
        <span class="icon"><i class="fas fa-trash-alt"></i></span>
        <span>Really delete media server</span>
      </button>
    </div>
  </div>
</form>
{% endblock %}
