{% extends 'base.html' %}

{% block headtitle %}Add a new {{ server_type_name }} media server{% endblock %}

{% block content %}
<h1 class="title mb-4">Add a {{ server_type_name }} media server</h1>
<p class="mb-4">
  You can use this form to add a new {{ server_type_name }} media server. All media
  servers added will be updated or refreshed every time some media is downloaded.
</p>
{% if server_help %}<div class="content mb-4">{{ server_help|safe }}</div>{% endif %}
<form method="post" action="{% url 'sync:add-mediaserver' server_type=server_type_long %}" class="simpleform">
  {% csrf_token %}
  {% include 'simpleform.html' with form=form %}
  <div class="field pt-4 has-text-centered">
    <div class="control">
      <button class="button is-primary" type="submit" name="action">
        <span class="icon"><i class="fas fa-server"></i></span>
        <span>Add {{ server_type_name }} server</span>
      </button>
    </div>
  </div>
</form>
{% endblock %}
