{% extends 'base.html' %}

{% block headtitle %}Add a new source{% endblock %}

{% block content %}
<h1 class="title">Add a source</h1>
<p class="mb-4">
  You can use this form to add a new source. A source is what's polled on regular
  basis to find new media to download, such as a channel or playlist.
</p>
<form method="post" action="{% url 'sync:add-source' %}" class="simpleform">
  {% csrf_token %}
  {% include 'simpleform.html' with form=form %}
  <div class="field pt-4">
    <div class="control">
      <button class="button is-primary" type="submit" name="action">
        <span class="icon"><i class="fas fa-plus"></i></span>
        <span>Add source</span>
      </button>
    </div>
  </div>
</form>
{% include 'sync/_mediaformatvars.html' %}
{% endblock %}
