{% extends 'base.html' %}

{% block headtitle %}Delete source - {{ source.name }}{% endblock %}

{% block content %}
<div class="row no-margin-bottom">
  <div class="col s12">
    <h1>Delete source <strong>{{ source.name }}</strong></h1>
    <p>
      Are you sure you want to delete this source? Deleting a source is permanent.
      By default, deleting a source does not delete any saved media files. You can
      tick the &quot;also delete downloaded media&quot; checkbox to also remove save
      media when you delete the source. Deleting a source cannot be undone.
    </p>
  </div>
</div>
<div class="row">
  <form method="post" action="{% url 'sync:delete-source' pk=source.pk %}" class="col s12 simpleform">
    {% csrf_token %}
    {% include 'simpleform.html' with form=form %}
    <div class="row no-margin-bottom padding-top">
      <div class="col s12">
        <button class="btn" type="submit" name="action">Really delete source <i class="fas fa-trash-alt"></i></button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
