{% extends 'base.html' %}

{% block headtitle %}Update source - {{ source.name }}{% endblock %}

{% block content %}
<h1 class="title">Update source <strong>{{ source.name }}</strong></h1>
<p class="mb-4">
  You can use this form to update your source. A source is what's polled on regular
  basis to find new media to download, such as a channel or playlist. Any changes
  to a source will only apply to new media and will not update media previously
  downloaded.
</p>
<form method="post" action="{% url 'sync:update-source' pk=source.pk %}" class="simpleform">
  {% csrf_token %}
  {% include 'simpleform.html' with form=form %}
  <div class="field pt-4">
    <div class="control">
      <button class="button is-primary" type="submit" name="action">
        <span class="icon"><i class="fas fa-pen-square"></i></span>
        <span>Update source</span>
      </button>
    </div>
  </div>
</form>
{% include 'sync/_mediaformatvars.html' %}
{% endblock %}
