{% extends 'base.html' %}

{% block headtitle %}Source - {{ source.name }}{% endblock %}

{% block content %}
<h1 class="title mb-4">{{ source.name }}</h1>
  <p class="subtitle mb-2">
    <a href="{{ source.url }}" target="_blank" class="icon-text">
      <span class="icon"><i class="fas fa-link"></i></span>
      <span>{{ source.url }}</span>
    </a>
  </p>
  <p class="has-text-grey mb-4">Saving to: <strong>{{ source.directory_path }}</strong></p>

<div class="buttons mb-5">
  <a href="{% url 'sync:media' %}?filter={{ source.pk }}" class="button is-primary">
    <span>View media<span class="is-hidden-mobile"> linked to this source</span></span>
    <span class="icon"><i class="fas fa-film"></i></span>
  </a>
  <a href="{% url 'sync:tasks-completed' %}?filter={{ source.pk }}" class="button is-primary">
    <span>View tasks<span class="is-hidden-mobile"> linked to this source</span></span>
    <span class="icon"><i class="far fa-clock"></i></span>
  </a>
</div>

{% include 'infobox.html' with message=message %}
{% if source.has_failed %}{% include 'errorbox.html' with message='This source has encountered permanent failures listed at the bottom of this page, check its settings' %}{% endif %}

<div class="box">
  <h2 class="title is-5 mb-4">Source Details</h2>

  <table class="table is-fullwidth is-striped">
    <tbody>
      <tr>
        <td><strong>Type</strong></td>
        <td>{{ source.get_source_type_display }}</td>
      </tr>
      <tr>
        <td><strong>Name</strong></td>
        <td>{{ source.name }}</td>
      </tr>
      <tr>
        <td><strong>Media items</strong></td>
        <td><a href="{% url 'sync:media' %}?filter={{ source.pk }}">{{ media|length }}</a></td>
      </tr>
      <tr>
        <td><strong>Key</strong></td>
        <td>{{ source.key }}</td>
      </tr>
      <tr>
        <td><strong>Directory</strong></td>
        <td>{{ source.directory }}</td>
      </tr>
      <tr>
        <td><strong>Filter text{% if source.filter_text_invert %} <em>(Inverted)</em>{% endif %}</strong></td>
        <td>{{ source.filter_text|default:"None" }}</td>
      </tr>
      {% if source.filter_seconds %}
      <tr>
        <td><strong>Filter Seconds</strong></td>
        <td>{{ source.filter_seconds }}s {% if source.filter_seconds_min %}(Minimum length){% else %}(Maximum Length){% endif %}</td>
      </tr>
      {% endif %}
      <tr>
        <td><strong>Media format</strong></td>
        <td>{{ source.media_format }}</td>
      </tr>
      <tr>
        <td><strong>Example filename</strong></td>
        <td><code>{{ source.get_example_media_format }}</code></td>
      </tr>
      {% if source.download_cap > 0 %}
      <tr>
        <td><strong>Download cap</strong></td>
        <td>{{ source.get_download_cap_display }}</td>
      </tr>
      {% endif %}
      <tr>
        <td><strong>Index schedule</strong></td>
        <td>{{ source.get_index_schedule_display }}</td>
      </tr>
      <tr>
        <td><strong>Index videos?</strong></td>
        <td><i class="fas fa-{% if source.index_videos %}check{% else %}times{% endif %}"></i></td>
      </tr>
      <tr>
        <td><strong>Index streams?</strong></td>
        <td><i class="fas fa-{% if source.index_streams %}check{% else %}times{% endif %}"></i></td>
      </tr>
      <tr>
        <td><strong>Download media?</strong></td>
        <td><i class="fas fa-{% if source.download_media %}check{% else %}times{% endif %}"></i></td>
      </tr>
      <tr>
        <td><strong>Created</strong></td>
        <td>{{ source.created|date:'Y-m-d H:i:s' }}</td>
      </tr>
      <tr>
        <td><strong>Last crawl</strong></td>
        <td>{% if source.last_crawl %}{{ source.last_crawl|date:'Y-m-d H:i:s' }}{% else %}Never{% endif %}</td>
      </tr>
      <tr>
        <td><strong>Target schedule</strong></td>
        <td>{% if source.target_schedule %}{{ source.target_schedule|date:'l, h:00 A (c)' }}{% else %}Not set{% endif %}</td>
      </tr>
      <tr>
        <td><strong>Source resolution</strong></td>
        <td>{{ source.get_source_resolution_display }}</td>
      </tr>
      {% if source.is_video %}
      <tr>
        <td><strong>Source video codec</strong></td>
        <td>{{ source.get_source_vcodec_display }}</td>
      </tr>
      {% endif %}
      <tr>
        <td><strong>Source audio codec</strong></td>
        <td>{{ source.get_source_acodec_display }}</td>
      </tr>
      <tr>
        <td><strong>Prefer 60FPS?</strong></td>
        <td><i class="fas fa-{% if source.prefer_60fps %}check{% else %}times{% endif %}"></i></td>
      </tr>
      <tr>
        <td><strong>Prefer HDR?</strong></td>
        <td><i class="fas fa-{% if source.prefer_hdr %}check{% else %}times{% endif %}"></i></td>
      </tr>
      <tr>
        <td><strong>Output extension</strong></td>
        <td>{{ source.extension }}</td>
      </tr>
      <tr>
        <td><strong>Fallback</strong></td>
        <td>{{ source.get_fallback_display }}</td>
      </tr>
      <tr>
        <td><strong>Copy thumbnails?</strong></td>
        <td><i class="fas fa-{% if source.copy_thumbnails %}check{% else %}times{% endif %}"></i></td>
      </tr>
      <tr>
        <td><strong>Write NFO?</strong></td>
        <td><i class="fas fa-{% if source.write_nfo %}check{% else %}times{% endif %}"></i></td>
      </tr>
      <tr>
        <td><strong>Write JSON?</strong></td>
        <td><i class="fas fa-{% if source.write_json %}check{% else %}times{% endif %}"></i></td>
      </tr>
      <tr>
        <td><strong>Delete removed media</strong></td>
        <td><i class="fas fa-{% if source.delete_removed_media %}check{% else %}times{% endif %}"></i></td>
      </tr>
      <tr>
        <td><strong>Delete files on disk</strong></td>
        <td><i class="fas fa-{% if source.delete_files_on_disk %}check{% else %}times{% endif %}"></i></td>
      </tr>
      <tr>
        <td><strong>Delete old media</strong></td>
        <td>{% if source.delete_old_media and source.days_to_keep > 0 %}After {{ source.days_to_keep }} days{% else %}No, keep forever{% endif %}</td>
      </tr>
      <tr>
        <td><strong>UUID</strong></td>
        <td><code>{{ source.uuid }}</code></td>
      </tr>
      <tr>
        <td><strong>Embed thumbnail?</strong></td>
        <td><i class="fas fa-{% if source.embed_thumbnail %}check{% else %}times{% endif %}"></i></td>
      </tr>
      <tr>
        <td><strong>Embed metadata?</strong></td>
        <td><i class="fas fa-{% if source.embed_metadata %}check{% else %}times{% endif %}"></i></td>
      </tr>
      <tr>
        <td><strong>SponsorBlock?</strong></td>
        <td><i class="fas fa-{% if source.enable_sponsorblock %}check{% else %}times{% endif %}"></i></td>
      </tr>
      {% if source.enable_sponsorblock %}
      <tr>
        <td><strong>What blocked?</strong></td>
        <td>
          {% if source.sponsorblock_categories.all_choice in source.sponsorblock_categories.selected_choices %}
            {% for k,v in source.sponsorblock_categories.possible_choices %}
              <i class="fas fa-check"></i> {{ v }}<br>
            {% endfor %}
          {% else %}
            {% for c in source.sponsorblock_categories.selected_choices %}
              {% for k,v in source.sponsorblock_categories.possible_choices %}
                {% if k == c %}<i class="fas fa-check"></i> {{ v }}<br>{% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td><strong>Download subtitles?</strong></td>
        <td><i class="fas fa-{% if source.write_subtitles %}check{% else %}times{% endif %}"></i></td>
      </tr>
      {% if source.write_subtitles %}
      <tr>
        <td><strong>Auto-generated subtitles?</strong></td>
        <td><i class="fas fa-{% if source.auto_subtitles %}check{% else %}times{% endif %}"></i></td>
      </tr>
      <tr>
        <td><strong>Subs langs?</strong></td>
        <td>{{ source.sub_langs }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>

<div class="buttons mt-5">
  <a href="{% url 'sync:update-source' pk=source.pk %}" class="button is-primary">
    <span>Edit source</span>
    <span class="icon"><i class="fas fa-pen-square"></i></span>
  </a>
  <a href="{% url 'sync:delete-source' pk=source.pk %}" class="button is-danger delete-button">
    <span>Delete source</span>
    <span class="icon"><i class="fas fa-trash-alt"></i></span>
  </a>
</div>

{% if errors %}
<div class="box mt-5">
  <h2 class="title is-5 mb-4">Source has encountered {{ errors|length }} Error{{ errors|length|pluralize }}</h2>

  {% for task in errors %}
  <div class="notification is-danger mb-3">
    <span class="icon-text mb-2">
      <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
      <span><strong>{{ task.verbose_name }}</strong></span>
    </span>
    <br>
    <span>Error: "{{ task.error_message }}"</span>
    <br>
    <small class="has-text-grey">
      <span class="icon-text">
        <span class="icon"><i class="far fa-clock"></i></span>
        <span>Occurred at <strong>{{ task.start_at|date:'Y-m-d H:i:s' }}</strong></span>
      </span>
    </small>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
