{% extends 'base.html' %}

{% block headtitle %}Schedule task{% endblock %}

{% block content %}
<h1 class="title mb-4">Schedule task</h1>
<p class="mb-4">
  If you don't want to wait for the existing schedule to be triggered,
  you can use this to change when the task will be scheduled to run.
  It is not guaranteed to run at any exact time, because when a task
  requests to run and when a slot to execute it, in the appropriate
  queue and with the priority level assigned, is dependent on how long
  other tasks are taking to complete the assigned work.
</p>
<p class="mb-4">
  This will change the time that the task is requesting to be the
  current time, or a chosen future time.
</p>
<form method="post" action="{% url 'sync:run-task' pk=task.pk %}" class="simpleform">
  {% csrf_token %}
  {% include 'simpleform.html' with form=form %}
  <div class="field pt-4 has-text-centered">
    <div class="control">
      <button class="button is-primary" type="submit" name="action">
        <span class="icon"><i class="far fa-clock"></i></span>
        <span>Schedule task</span>
      </button>
    </div>
  </div>
</form>
{% endblock %}
