{% extends 'base.html' %}{% load filters %}

{% block headtitle %}Tasks - Completed{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h1 class="truncate">Completed tasks</h1>
  </div>
</div>
{% include 'infobox.html' with message=message %}
<div class="row">
  <div class="col s12">
    <div class="collection">
    {% for task in tasks %}
      
      <span class="collection-item">
      {% if task.has_error %}
        <i class="fas fa-exclamation-triangle"></i> <strong>{% if task.verbose_name %}{{ task.verbose_name }}{% else %}{{ task.name }}{% endif %}</strong><br>
        Queue: &quot;{{ task.queue }}&quot;<br>
        Error: &quot;{{ task.error_message }}&quot;<br>
      {% else %}
        <i class="fas fa-check"></i> <strong>{% if task.verbose_name %}{{ task.verbose_name }}{% else %}{{ task.name }}{% endif %}</strong><br>
        Queue: &quot;{{ task.queue }}&quot;<br>
      {% endif %}
        Task locked for: {{ task.end_at|sub:task.start_at|timedelta }}<br>
        <i class="far fa-clock"></i> Task locked at <strong>{{ task.start_at|date:'Y-m-d H:i:s' }}</strong><br>
        <i class="fas fa-hourglass-end"></i> Task ended at <strong>{{ task.end_at|date:'Y-m-d H:i:s' }}</strong>
      </span>
    {% empty %}
      <span class="collection-item no-items"><i class="fas fa-info-circle"></i> There have been no completed tasks{% if source %} that match the specified source filter{% endif %}.</span>
    {% endfor %}
    </div>
  </div>
</div>
{% include 'pagination.html' with filter=source.pk %}
{% endblock %}
