@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/roboto/roboto-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/roboto/roboto-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
