.simpleform {
    .row {
        margin-bottom: 0;
    }
    .help-text {
        color: $form-help-text-colour;
        padding-bottom: 1rem;
    }
    label {
        text-transform: uppercase;
        display: block;
        font-size: 0.9rem;
        position: relative;
        transition: none;
        top: initial;
        left: initial !important;
        transform: none;
        color: $form-label-text-colour;
    }
    input {
        width: 100%;
        padding: 5px 8px 5px 8px;
        font-size: 1.1rem;
        border: 2px $form-input-border-colour solid;
        border-radius: 2px;
        outline: none;
        &:focus {
            outline: none;
            border: 2px $form-input-border-active-colour solid;
        }
    }
    textarea {
        min-height: 150px;
    }
}

select {
    display: initial !important;
    border: 2px $form-select-border-colour solid;
    height: initial !important;
}

.delete-button {
    background-color: $form-delete-button-background-colour !important;
    &:hover {
        background-color: $main-button-background-hover-colour !important;
    }
}

.no-text-transform {
    text-transform: none;
}
