@charset "UTF-8";

@import "materializecss/materialize";
@import "fontawesome/fontawesome";
@import "fontawesome/regular";
@import "fontawesome/solid";
@import "fontawesome/brands";

@import "fonts";
@import "variables";
@import "colours";
@import "helpers";
@import "forms";
@import "template";

html {
    visibility: visible;
    opacity: 1;
}

.flex-collection-container {
    display: flex !important;
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}
  